html {
    font-family: sans-serif;
  }

  body {
    min-width: 80vw;
    padding: 5%;
  }
  
  .form input[type="number"] {
    width: 200px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  .lastResultCorrect {
    background-color: green;
  }

  .gameOver {
    background-color: red;
  }